NEXT_PUBLIC_APP_NAME="api-web"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# better-auth
BETTER_AUTH_SECRET=your-better-auth-secret
BETTER_AUTH_URL=http://localhost:3000

# github oauth
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret

# database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/infra-code
